<script lang="tsx">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'Date',

  setup(props) {
    return () => <div>Date Tsx</div>;
  }
});
</script>
<style lang="scss" scoped></style>
