<template>
  <div :class="[classNames]">
    Button
    <slot></slot>
  </div>
</template>

<script lang="ts" setup name="WebdevButton">
import './style/index.less';
import { computed, withDefaults } from 'vue';
defineOptions({ name: 'WebdevButton' });
const props = withDefaults(defineProps<{ type?: string }>(), { type: 'small' });
// const props = defineProps<{ type?: string }>();

const classNames = computed(() => {
  return `button-size--${props.type}`;
});
</script>
