<template>
  <div class="app__wrapper">
    <ZButton></ZButton>
    <WebdevButton></WebdevButton>
    <date></date>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import { Button as ZButton } from '@nounknow/ui';
import { Date } from '@nounknow/ui';

export default defineComponent({
  name: 'Application',

  components: {
    ZButton,
    Date
  },

  setup(props) {
    console.log('props=========================>', props);
  }
});
</script>
<style lang="less">
.app__wrapper {
  color: green;
  width: 1000px;
  display: flex;
  height: 500px;
}
</style>
